/*  ==================================================================== 
        INDEX
    ====================================================================
*/







/*  ==================================================================== 
        PAGINA DE LOGIN
    ====================================================================
*/
@media (max-width: 1024px) {
    .titulo_texto_login{
        font-size: 55px;
    }
}

@media (max-width: 760px) {
    .login_esquerda{
        display: none;
    }

    .login_direita{
        width: 100%;
    }
}

@media (max-width: 600px) {
    .login_direita_parte_baixo{
        font-size: 12px;
    }
}