body{
    /* para consertar a bugadona q o position:fixed na navbar faz */
    padding-top: 134px;
}
.navbar, body{
    background: var(--cor-fundo);
}

.secao_sessao_1{
    background: var(--cor_fundo_escuro);
    /*border: 1px solid red;*/
    padding: 3em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info_sessao{
    /*border: 1px solid yellow;*/
    padding: 0 2em;
}

.div_sinopse_filme{
    /*border: 1px solid blue;*/
    width: 60%;

    >p{
        font-size: 20px;
        color: var(--cor_active);
    }
}